.card-face {
  --size: 200px;
  border-radius: calc(var(--size) * 0.05);
  border: calc(var(--size) * 0.005) solid #666;
  /* box-shadow: calc(var(--size) * 0.01) calc(var(--size) * 0.01) calc(var(--size) * 0.03) rgba(0, 0, 0, 0.3); */ 
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background-color: #fdfdfd;
}
