:root {
  --color-green: #43ca89;
  --color-red: 	#dc594d;
}
html {
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
